Colchero et al. 2012 - BaSTA Age specific survival from mark recapture.pdf
Colchero et al. 2012 - BaSTA tutorial.pdf
Colchero et al. 2012 - Priors and Supplementary figs.pdf
Colchero et al. 2012 - R Code.pdf
Colchero et al. 2012 -Bayesian estimation of age-specific survival from poor data.pdf
Y.csv
Z.csv
bd.csv
